<div class="main-container">
  <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
  <div class="sidebar" [class.active]="isSidebarActive">
    <button class="close-menu" (click)="toggleSidebar()">x</button>
    <ul class="gesture-list">
      <li>Open Hand and Point: Next Page</li>
      <li>Close Hand and Point: Previous Page</li>
      <li>Two Open Hands: Open Gesture Menu</li>
      <li>Two Closed Hands: Return to Library</li>
      <li>Pinch: Add Bookmark</li>
      <li>Two Hand Pinch: Delete Bookmark</li>
      <li>Point: Select book from library</li>
      <li> Open Hand: Select Book</li>
      <li>Two Hands Pointing: Close Gesture Menu</li>
    </ul>
  </div>
  <button class="gesture-menu-btn" *ngIf="!isSidebarActive" (click)="toggleSidebar()">Gesture List</button>
  <div class="bookmarks" [class.hidden]="isSidebarActive">
    <span (click)="toggleBookmark()">Bookmark</span>
    <span *ngFor="let page of bookmarks" (click)="goToPage(page)">Page {{ page + 1 }}</span>
  </div>
  <!-- In book-reader.component.html -->
  <div class="book-viewer">
    <div class="bookmark-icon" *ngIf="isBookmarked()"></div>
    <p>{{ pages[currentPage] }}</p>
  </div>
  <div class="page-footer">
    Page {{ currentPage + 1 }} of {{ pages.length }}
  </div>
  <div class="navigation">
    <button (click)="previousPage()">Previous Page</button>
    <button (click)="backToLibrary()">Home</button>
    <button (click)="nextPage()">Next Page</button>
  </div>
</div>